# Project exclude paths
/.gradle/
/common/build/
/fabric/.gradle/
/fabric/build/
/forge/build/
/forge/.gradle/
/fabric/run/
/forge/run/
/common/.gradle/.architectury-transformer/debug.log
/build/tmp/
/common/.gradle/architectury-cache/projectID
/build/libs/
/.architectury-transformer/debug.log
